html {
  font-family: "Anonymous Pro", monospace;
  font-size: 15px;
  margin: -20px -10px;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #fafafa;
}

/* ****************************************** UTILS *******************************************/

/* ****************************************** HEADER *******************************************/

.container {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  transition: transform 0.5s;
}

.main-navbar {
  width: 100%;
  display: flex;
  background-color: #fff5ea;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 5px;
}

.logo {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  text-decoration: none;
  color: #000e;
}

.logo svg {
  width: 40px;
  height: 40px;
}

.listTab {
  display: flex;
  list-style: none;
}

.listTab li {
  padding: 10px 20px 10px 20px;
}

.listTab li a {
  text-decoration: none;
  color: #242424;
  font-size: medium;
  font-weight: bold;
}

.listTab li:hover {
  text-decoration: underline;
}

.icon-cart {
  position: relative;
  cursor: pointer;
}

.icon-cart svg {
  width: 30px;
  height: 30px;
  position: relative;
}

.icon-cart span {
  width: 20px;
  height: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: red;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -10px;
  border-radius: 50%;
}

/* ****************************************** FOOTER *******************************************/

footer {
  background-color: #7a5f45;
  color: #eee;
  padding-bottom: 10px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-title {
  padding: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo svg {
  margin-right: 5px;
}

.footer-socialMedia {
  padding: 25px;
}

.socialIcon svg {
  width: 32px;
  height: 32px;
  color: #eee;
  cursor: pointer;
  margin-top: 5px;
}

.footer-listTab {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-listTab li {
  padding: 10px 20px 10px 20px;
}

.footer-listTab li a {
  text-decoration: none;
  color: #eee;
  font-size: medium;
  font-weight: bold;
}

.footer-listTab li:hover {
  text-decoration: underline;
}

.copyright {
  position: relative;
  left: 10%;
}

/* ****************************************** HOME PAGE *******************************************/

/* === Banner === */
.main__div--banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(/assets/images/home_page/header_banner.jpg);
  background-size: cover;
  height: 550px;
  color: #fafafa;
  overflow: hidden;
  align-content: space-evenly;
}

.main__div--banner > * {
  margin-left: 15%;
}

.main__div--banner > h1 {
  font-family: "Crimson Text";
  font-size: 48px;
  width: 30%;
}

.main__div--banner > h3 {
  font-family: "Crimson Text";
  font-size: 24px;
  width: 37%;
  font-weight: 300;
}

.div__input--btnShop {
  text-decoration: none;
  color: #fafafa;
  background-color: transparent;
  border: 3px solid;
  padding: 16px;
  border-radius: 5px;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.div__input--btnShop:hover {
  background-color: #d54137;
}

/* === Main Article === */

.main__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.main__article > h1 {
  font-family: "Crimson Text";
  font-size: 48px;
}

.main__article > label {
  width: 20%;
  height: 5px;
  background-color: black;
  opacity: calc(75%);
  color: transparent;
  margin-top: -45px;
  margin-bottom: 50px;
}

/* === Main Overview === */

.main__section--overview {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 1000px;
  align-items: start;
}

/* === Main Product === */

.section__div--columnProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 47.5%;
  height: 100%;
}

.div__a--imagesProduct {
  background: url(/assets/images/home_page/main_our_products.jpg);
  background-size: cover;
}

.div__a--imagesGrocery {
  background: url(/assets/images/home_page/main_grocery_items.jpg);
  background-size: cover;
}

.div__a--imagesProduct,
.div__a--imagesGrocery {
  text-decoration: none;
  color: #fafafa;
  background-repeat: no-repeat;
  width: 90%;
  height: 43%;
  transition: all ease-in-out 0.5s;
  padding-left: 16px;
}

.div--sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 10%;
  overflow: hidden;
  background-color: #7a5f45;
  color: #fafafa;
}

.div--sale > h2 {
  font-size: large;
  margin-left: 20px;
  margin-right: 10px;
}

.div--sale > p {
  font-size: small;
  line-height: 25px;
}

.main__a--imagesLearn {
  background: url(/assets/images/home_page/main_learn_how_to_make.jpg);
  text-decoration: none;
  color: #fafafa;
  background-size: cover;
  width: 47.5%;
  height: 100%;
  padding-left: 24px;
  transition: all ease-in-out 0.5s;
}

/* Transitions */

.div__a--imagesGrocery:hover,
.div__a--imagesProduct:hover,
.main__a--imagesLearn:hover {
  scale: calc(102%);
}

/* === Main About === */

.main__section--about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 700px;
  margin: auto;
}

.main__a--imagesStory {
  background: url(/assets/images/home_page/main_our_story.jpg);
  background-size: cover;
  text-decoration: none;
  width: 100%;
  height: 48%;
  color: #fafafa;
  transition: all ease-in-out 0.5s;
}

.main__a--imagesStory h3 {
  margin-left: 16px;
}

.section__div--rowImage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 46%;
}

.div__a--imagesRecipe {
  background: url(/assets/images/home_page/main_recipes.jpg);
  background-size: cover;
}

.div__a--imagesIngredient {
  background: url(/assets/images/home_page/main_natural_ingredients.jpg);
  background-size: cover;
}

.div__a--imagesRecipe,
.div__a--imagesIngredient {
  width: 46%;
  text-decoration: none;
  background-repeat: no-repeat;
  color: #fafafa;
  padding-left: 16px;
  transition: all ease-in-out 0.5s;
}

/* Transition */
.div__a--imagesRecipe:hover,
.div__a--imagesIngredient:hover,
.main__a--imagesStory:hover {
  scale: calc(102%);
}

/* ****************************************** PRODUCT PAGE *******************************************/

.banner {
  background: url(/assets/images/product_page/product_banner.jpg);
  background-size: cover;
  height: 550px;
  overflow: hidden;
  margin-top: -10px;
}

.listProducts {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
  padding: 0 170px;
  margin-top: 50px;
}

.listProducts .item {
  padding: 10px;
  border-radius: 10px;
  border: solid medium #0009;
}

.listProducts .item img {
  width: 100%;
  border-radius: 2px;
}

.listProducts .item h2 {
  font-size: x-large;
}

.listProducts .item .price {
  font-size: large;
  margin-bottom: 20px;
}

.listProducts .item .addCart {
  background-color: #000e;
  color: #fafafa;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.listProducts .item .addCart:hover {
  background-color: transparent;
  border: solid medium #000e;
  color: #000e;
}

.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}

body.showCart .cartTab {
  inset: 0 0 0 auto;
}

body.showCart .container {
  transform: translateX(0px);
}

.cartTab .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-weight: 300;
}

.cartTab .title h1 {
  margin-left: 10px;
}

.cartTab .title span {
  margin-right: 10px;
  font-size: xx-large;
  cursor: pointer;
}

.cartTab button {
  width: 100%;
  background-color: #e8bc0e;
  border: none;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  padding: 20px 0;
  margin-bottom: 0;
  margin-top: 12px;
}

.cartTab .listCart .item img {
  width: 100%;
  margin-left: 10px;
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}

.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.listCart .quantity span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  color: #555;
  border-radius: 2px;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.cartTab .listCart .quantity span:active {
  background-color: #555;
  color: #eee;
}
